<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="{% static 'css/home.css' %}" rel="stylesheet">
        <!-- <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Home</title>
    </head>
    <body class="body">
    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12">
  <div class="container">

    <div class="jumbotron">
      <h1>Login</h1>
      <form>
        <div class="form-group">
        <!-- <p> -->
          <label id="lbl" for="Email">Email:</label>
          <input type="email" name="Email" class="form-control" id="Email" placeholder="Email" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

          <label id="lbl"  for="Password">Password:</label>
          <input type="password" name="Password" class="form-control" id="Password" placeholder="Password" required>
        <!-- </p> -->
        <button id="sgnupId" type="button" class="btn btn-primary">Sign Up</button>
      </div>
    </div>

      </form>
  </div>
{% block body_block %}

{% endblock %}

<script src="{% static 'js/aws-sdk-2.537.0.min.js' %}"></script>
<script src="{% static 'js/custAuth.js' %}"></script>
<!-- <script type="text/javascript">

var sgnup=document.getElementById('sgnupId');
sgnup.addEventListener('click',MySignUp);


function MySignUp()
{
  var params = {username:'projjwal'}

  var cognitoidentityserviceprovider = new AWS.CognitoIdentityServiceProvider();
  cognitoidentityserviceprovider.adminForgetDevice(params, function (err, data) {
  if (err) console.log(err, err.stack); // an error occurred
  else     console.log(data);           // successful response
});
};

function CkMySignUp() {

  alert("Hello Honey");
  
}



</script> -->
</body>

</html>